#site-header {
    transition: top 0.5s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 1;
}

.show-header {
    top: 0;
}


/* Add this class for hiding the header */
.hide-header {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    opacity: 0;
}

/* Add this class for showing the header */
.show-header {
    transform: translateY(0);
    transition: transform 0.3s ease;
    opacity: 1;
}


.navbar-nav {
    font-family: 'Cabin', sans-serif;
    /* Change margin-left to auto */
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-left: 0px;
    /* Set a maximum width for the navbar-nav */

}

.nav-item {
    margin-right: 20px; /* Add space between nav items */
}
.navbar-nav .nav-link {
    font-size: small;

}

.nav-link:hover {
    color: #454244 !important; /* Change color on hover */
}

.navbar {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
}




.navbar-text,
.navbar-brand,
.nav-link {
    color: rgb(230, 236, 241) !important;
    font-family: 'Cabin', sans-serif;

}

.custom-search-input {
    height: 30px;
}

.logo-container img:hover {
    filter: invert(100%) !important;
}

.navbar-brand img:hover {
    filter: invert(60%) !important;
}



